/* You can add global styles to this file, and also import other style files */
html{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: black;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}
body{
    background-color: #ddd;
}
a{
 text-decoration: none;
}

.container{
    width: 100%;
    max-width: 1345px;
    margin: 0 auto;
    padding: 0;
    background-color: white;
}

h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: black;
    margin: 0 0 20px 0;
    padding: 0;
    display: block;
}
/*header*/
app-header-component{
    display: block;
    width: 100%;
    height: 150px;
    background-color: white;
    position: relative;
}
app-header-component .logo img{
    position: absolute;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media only screen and (max-width: 1345px){
    .container{
        width: auto;
        margin: 0 3%;
    }
}
/*nav*/
app-nav-component{
    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0 auto;
    padding: 0;
    background-color: black;
    color: white;
}
app-nav-component ul{
    margin: 0;
    padding: 0;
}
app-nav-component ul li{
    display: inline;
    float: left;
    margin: 0;
}
app-nav-component ul li a{
    display: block;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    color: white;
    padding: 15px 20px;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    
}    
app-nav-component ul li a:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}    

/*content*/
.container .main{
    display: block;
    width: 100%;
    padding: 0 10px;
    margin: 35px 0;
}
/*footer*/
app-footer-component{
    display: block;
    color: white;
    background-color: black;
    min-height: 100px;
}
.gallery-wrapper{
    margin: 2rem;
}
@media (min-width: 300px){
    .gallery-wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    }
}
@media (min-width: 600px){
    .gallery-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    }
}
@media (min-width: 900px){
    .gallery-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    }
}
@media (min-width: 1200px){
    .gallery-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    }
}

.gallery-image img{
    width: 100%;

}